:root {
    --primary-color: #082332;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #39a6b2;
}
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("tiger_india.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
}
header a {
    color: white;
    text-decoration: none;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
}
.banner {
    background-image: url("tiger_india.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    position: relative;
}
.banner h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
}
article {
    display: block;
    padding: 2%;
    overflow: auto;
}
article h2 {
    float: left;
    width: 23%;
    text-align: right;
}
article div {
    float: right;
    border-left: 3px solid;
    padding-left: 25px;
    width: 70%;
    overflow: auto;
 
}
article nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


.img-grid {
    width: 70%;
    display: grid;
    color: white;
    font-size: 1.2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    flex-wrap: wrap;
    min-height: 450px;
    padding: 5px;
    border-left: 3px solid #39a6b2;
    padding-left: 15px;
    
}
.img {
    background-size: cover;
    background-position: center;
    background-attachment: local;
    object-fit: fill;
    height: 100%;
    width: 100%;
    vertical-align: text-bottom;
}


.img1 {
    background-image: url("nqube.png");
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    
}
.img2 {
    background-image: url("fish.jpg");
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}
.img3 {
    background-image: url("tiger_india.jpg");
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

}
.img4 {
    background-image: url("boa.jpg");
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  
}
.img5 {
    background-image: url("dnawiki2.png");
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}