:root {
    --primary-color: #0f0f0f;
    --secondary-color: #48553a;
    --tertiary-color: #718c60;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #39a6b2;
}
header {
    padding: 20px 35px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("tiger_india.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
}
header a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 2.5vw;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
}
.banner {
    background-image: url("tiger_india.jpg");
    background-size: cover;
    background-position: 80%;
    background-repeat: no-repeat;
    min-height: 20vw;
    position: relative;
    border-bottom: 5px solid var(--secondary-color);
}
.banner h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--primary-color);
    font-size: 1.85vw;
    font-weight: bold;
}
article {
    display: block;
    padding: 2%;
    overflow: auto;
}
article h2 {
    float: left;
    width: 29%;
    text-align: right;
    color: var(--primary-color);
    font-size: 2.25vw;
}
article h4 {
    font-size: 1.3vw;
    color: var(--secondary-color);
}

article p {
    font-size: 1.1vw;
    color: var(--secondary-color);
}
.aboutme-text img {
    min-height: 10vw;
    max-height: 20vw;
}
article div {
    float: right;
    border-left: 5px solid var(--secondary-color);
    padding-left: 25px;
    width: 70%;
    overflow: auto;
 
}
article nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 15px;
}

article nav ul a {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.3vw;
}

.img-grid {
    width: 70%;
    display: grid;
    font-size: 1.3vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    flex-wrap: wrap;
    min-height: 35vh;
    padding: 5px;
    border-left: 5px solid var(--secondary-color);
    padding-left: 25px;
    font-weight: bold;
    
}
.img {
    background-size: cover;
    background-position: center;
    background-attachment: local;
    object-fit: fill;
    height: 100%;
    width: 100%;
    vertical-align: text-bottom;
    position: relative;
    border: none;
}

.work-title {
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: auto;
    background-color: var(--tertiary-color);
    text-align: center;
    padding: 10px;
}
.work-title a {
    color: var(--primary-color);
}


.img1 {
    background-image: url("nqube.png");
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    
}
.img2 {
    background-image: url("fish.jpg");
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}
.img3 {
    background-image: url("tiger_india.jpg");
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

}
.img4 {
    background-image: url("boa.jpg");
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  
}
.img5 {
    background-image: url("dnawiki2.png");
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}